@charset "UTF-8";
/*Header*/
/*Body*/
/*Menu Responsive*/
/*BURGER MENU*/
/*Menú Navegador - Horizontal*/
/*Slider/Carousel Principal*/
/*Body*/
/*Search box*/
/*SECCIONES*/
/*INTEL*/
/*grid areas */
/*GRID HEADER*/
/*GRID NAV*/
/*GRID PRODUCTOS*/
/*FAQ*/
/*Footer*/
/* Clear floats after the columns */
/*BLOCK+ELEMENTS*/
.tituloEnTienda {
  margin-top: 1em; }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto; }
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

.rere {
  float: right;
  color: white;
  cursor: pointer;
  font-size: 30px; }

.paddingPs {
  padding: 1em; }

#owl-demo .item {
  background: #42bdc2;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  position: relative; }

.productsSlide {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #616161;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 68px;
  color: #616161; }

nav {
  background-image: url("../css/header.png");
  background-size: cover;
  grid-area: nav; }

.ancho-limitado {
  max-width: 95px; }

* {
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0; }

header {
  padding-bottom: 5px; }

body .blanco {
  color: white; }

body p {
  font-family: "roboto" !important;
  font-size: 16px !important; }

.navbar .navbar-light .sm-light {
  z-index: 1; }

.navbar-toggler {
  background-color: white; }

.logoIndex {
  display: block;
  position: relative;
  left: 300px; }

.button {
  list-style-type: none;
  margin-right: 0px;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  margin-right: 0px;
  padding: 0;
  overflow: hidden; }
  .button span {
    float: right;
    line-height: 40px;
    transition: 0.5s; }
  .button span.rotate {
    transform: rotate(-180deg); }

.iconoMenu img {
  float: left;
  padding: 28px 16px;
  height: auto;
  max-width: 95px; }

.seccionesNav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; }

.sliderPrincipal {
  display: block;
  margin: auto;
  width: 100%; }

h1 {
  color: orange;
  text-align: center;
  font-size: 40px; }

.h1-margin {
  margin-bottom: 25px;
  margin-top: 0.9em; }

h2 {
  color: #2c85bc;
  font-family: "Roboto", sans-serif;
  font-size: 24px; }

h3 {
  background-color: #2c85bc;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px 5px 10px;
  display: inline-block;
  position: sticky;
  width: 75%;
  padding: 10px;
  text-align: center; }

h4 {
  text-align: center;
  font-size: 23px; }

h5 {
  background-color: #2c85bc;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: italic;
  padding: 5px 205px 5px 10px;
  display: inline-block; }

h6 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px; }

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: bold; }

.gracias {
  margin-top: 250px; }

.back-index {
  text-decoration: none; }

.btn-principal1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px; }
  .btn-principal1:hover {
    width: 300px;
    cursor: pointer; }
    .btn-principal1:hover input {
      display: block; }
    .btn-principal1:hover .fa-search {
      background: #2c85bc;
      color: white; }

btn-posi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: none;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px; }

.fa-search {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s; }

.buscadorPrincipal {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center; }
  .buscadorPrincipal #busqueda {
    border: solid 1px;
    outline: none;
    color: #8b7d77;
    position: relative;
    height: 50px;
    border-radius: 25px;
    border-width: 1.5px;
    padding: 10px; }

.btn-principal {
  display: inline-block;
  border-radius: 8px;
  background-color: #2c85bc;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; }
  .btn-principal span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .btn-principal span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -10px;
      transition: 0.5s; }
  .btn-principal:hover span {
    padding-right: 15px; }
    .btn-principal:hover span:after {
      opacity: 1;
      right: 0; }

.fa-phone {
  font-size: 24px;
  color: #2c85bc; }

.fa-clock {
  font-size: 24px;
  color: #2c85bc; }

.fa-pencil-alt {
  font-size: 24px;
  color: #2c85bc; }

.fa-whatsapp-square {
  font-size: 30px;
  color: #2c85bc; }

.fa-facebook-square {
  font-size: 44px;
  color: white; }

.fa-instagram {
  font-size: 44px;
  color: white;
  margin-left: 10px; }

.fa-whatsapp {
  font-size: 44px;
  color: white;
  margin-left: 10px; }

.fa-check {
  color: green;
  font-size: 100px;
  margin-bottom: 50px; }

.fa-shopping-cart {
  color: white;
  /* background-color: white; */
  padding: 10px 50px;
}
.u-pull-right {
  float: right; }
  .two.columns                    { width: 13.3333333333%; }
a.back-index {
  text-decoration: none; }

.infoWeb {
  font-family: "Roboto", sans-serif;
  margin: 0px 0px 10px; }

.datosWeb {
  clear: both;
  display: block; }

.algo {
  font-family: "Roboto", sans-serif; }

.bg-blue {
  font-family: "Roboto", sans-serif;
  position: sticky; }

.pcs {
  display: flex;
  justify-content: center;
  opacity: 0.5;
  transition: transform 0.2s, opacity 0.5s; }
  .pcs:hover {
    opacity: 1;
    transform: scale(1.1); }

.pcsGamer {
  display: block;
  clear: both; }

#busquedaCategoria {
  display: inline;
  position: relative;
  width: 9%;
  height: 35px;
  padding: 8px 12px;
  position: relative;
  width: 68%;
  height: 35px;
  padding: 8px 12px; }

.btn-categoria {
  display: inline-block;
  border-radius: 5px;
  background-color: #2c85bc;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 9px 13px;
  height: 35px;
  cursor: pointer;
  margin: 1px;
  font-size: 12px;
  text-transform: uppercase; }

.menuVertical {
  list-style-type: none; }

ul ul {
  position: absolute;
  display: none; }
  ul ul li {
    display: block; }

.img-Responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin-top: 100px; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.categoria {
  width: 260px;
  margin-top: 30px;
  background-image: none; }
  .categoria h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 15px; }

section#productos {
  grid-area: productos;
  margin-left: 390px;
  margin-right: 100px;
  margin-top: 200px; }

.uno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.cuatro {
  /* display: flex; */
  width: min-content;
  flex-direction: column;
  /* margin-left: 25px; */
  margin-left: 15px;
  margin-top: 10px;
  border: 1px solid #e1e1e1;
}

.button {
  list-style-type: none;
  text-align: center;
  margin-right: 0px;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  margin-right: 0px;
  padding: 0;
  overflow: hidden; }

.button-shop {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.submenu {
    position: relative;
    background-color: black;
    width: 45%;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

:root {
  --blue: #2c85bc;
  --dark-blue: #2980b9;
  --background: #081118;
  --grey: #333;
  --light-grey: #3b3b3b; }

.menu {
  width: 16rem;
  border-radius: 0.2rem;
  overflow: hidden;
  font-family: sans-serif;
  margin-top: 1rem; }
  .menu a {
    text-decoration: none;
    text-align: left; }

.menu-item {
  list-style: none;
  overflow: hidden; }
  .menu-item:target .menu-item__sub {
    max-height: 20em; }

.btn-shop {
  background: #0099DD;
  color: #FFF;
  border-radius: 30px;
  border: none;
  padding: 10px 30px;
  margin-bottom: 15px;
  /* width: 110px; */
  outline: none;
}

.btn-detalle {
  background: orange;
  color: #FFF;
  border-radius: 30px;
  border: none;
  padding: 10px 30px;
  margin-bottom: 15px;
  width: 110px;
  outline: none;
}


.price {
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.productName {
  font-weight: bold;
  margin-top: 15px;
}

.btn {
  display: block;
  padding: 1rem 1.2rem;
  background: var(--blue);
  color: white;
  position: relative; }
  .btn::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: var(--blue);
    left: 1.5rem;
    bottom: -0.5rem;
    transform: rotate(45deg); }
  .btn i {
    margin-right: 1rem; }

.menu-item__sub {
  background: var(--grey);
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0; }
  .menu-item__sub a {
    display: block;
    padding: 1rem 1.6rem;
    color: white;
    font-size: 0.9rem;
    position: relative;
    border-bottom: 1px solid var(--light-grey); }
    .menu-item__sub a::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0.4rem;
      height: 100%;
      background: var(--blue);
      transform: translatex(-0.4rem);
      transition: 0.3s;
      opacity: 0; }
    .menu-item__sub a:hover::before {
      opacity: 1;
      transform: translatex(0); }

.formulario-contacto {
  background: url(../images/bg-formu.jpg);
  color: #ffffff;
  margin-top: 5px; }

.blanco {
  font-family: "Roboto", sans-serif; }

.mailito {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-color: #0099DD;
  padding: 20px 0;
  text-align: center; }

.btn-mailito {
  position: relative;
  width: 10%;
  height: 35px;
  padding: 8px 12px; }

.btn-suscribite {
  display: inline-block;
  border-radius: 5px;
  background-color: #0e3b72;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 9px 13px;
  height: 35px;
  cursor: pointer;
  margin: -1px;
  font-size: 12px;
  text-transform: uppercase; }

.footerDatos {
  flex: 25%;
  padding: 20px;
  font-family: "Roboto", sans-serif; }
  .footerDatos a {
    text-decoration: none; }
  .footerDatos p {
    font-size: 14px;
    color: white; }

footer {
  background: #020024;
  background: linear-gradient(180deg, #020024 0%, #0a0a49 100%, #00d4ff 100%); }

.myself {
  margin-top: 222px; }

.toptop {
  margin-top: 30px; }

.responsiveCateg {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2c85bc;
  width: 300px;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 5px;
  z-index: 99; }
  .responsiveCateg label {
    color: white;
    font-size: 22px;
    font-weight: 500;
    display: block;
    cursor: pointer; }
  .responsiveCateg ul {
    position: absolute;
    background: #2c85bc;
    list-style: none;
    top: 75px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none; }
    .responsiveCateg ul li {
      line-height: 40px;
      padding: 8px 20px;
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      .responsiveCateg ul li label {
        font-size: 18px; }
        .responsiveCateg ul li label:hover {
          color: black; }
      .responsiveCateg ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        display: block; }
        .responsiveCateg ul li a:hover {
          color: black; }
      .responsiveCateg ul li span {
        font-size: 20px;
        float: right;
        margin-top: 10px;
        padding: 0 10px;
        transition: 0.5s; }
      .responsiveCateg ul li span.rotate {
        transform: rotate(-180deg); }
    .responsiveCateg ul ul {
      position: static; }
      .responsiveCateg ul ul li {
        line-height: 30px;
        padding-left: 30px;
        border-bottom: none; }
        .responsiveCateg ul ul li a {
          color: #e6e6e6;
          font-size: 17px; }
  .responsiveCateg .menu1:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: #2c85bc;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: s; }

[id^=btn]:checked + ul {
  display: block; }

#btn {
  display: none; }

#btn-2 {
  display: none; }

#btn-3 {
  display: none; }

#btn-4 {
  display: none; }

#btn-5 {
  display: none; }

#btn-6 {
  display: none; }

#btn-7 {
  display: none; }

@media (min-width: 1280px) {
  .bg-blue {
    width: 95%; }
  .btn-mailito {
    width: 11% !important; }
  #busqueda {
    width: 3px; } }

@media (min-width: 1200px) {
  .hardware {
    margin-left: 50px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; }
  .menu {
    width: 15rem; }
  .categoria {
    width: 243px;
    margin-top: 90px !important; }
  .btn-mailito {
    width: 20% !important; } }

@media (min-width: 768px) {
  .pcs {
    margin-top: 13px; }
  .bg-blue {
    display: flex;
    justify-content: center; }
  .container {
    width: 1170px; }
  .categoria {
    margin-top: 0px; }
  .responsiveCateg {
    margin-top: 80px !important; }
  .btn-mailito {
    width: 15% !important; }
  .footerDatos p {
    font-size: 14px !important; }
  .btn-mailito {
    width: 20% !important; } }

@media (min-width: 576px) and (max-width: 767px) {
  .menu {
    display: none !important; } }

@media (max-width: 991px) {
  .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 575px) {
  h5 {
    width: 100%; }
  .pcs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px; }
  .menu {
    display: none; }
  .btn-mailito {
    width: 100%; } }

@media (min-width: 320px) {
  h5 {
    width: 100%; }
  .btn-mailito {
    width: 100%; }
  .responsiveCateg {
    margin-top: 110px; }
  .owl-h4 {
    margin-top: 90px; }
  .h4-margin {
    margin-top: 30px; }
  .footerDatos p {
    font-size: 16px !important; }
  iframe {
    max-width: 100%; }
  #busqueda {
    width: 185px !important; }
  .size-imgs {
    width: 170px;
    height: 170px; } }

@media (max-width: 319px) {
  h5 {
    width: 100%; }
  .btn-mailito {
    width: 100%; }
  .responsiveCateg {
    margin-top: 110px; }
  .owl-h4 {
    margin-top: 90px; }
  .h4-margin {
    margin-top: 50px; }
  iframe {
    max-width: 100%; }
  .footerDatos p {
    font-size: 16px; } }
